.Product {
	width: 300px;
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Product >*{
    font-size: 15px;
}

.moreInfo{
    padding-top:10px ;

}
.moreInfo img{
    border-radius: 5px;
}